.space{
  margin-top: 25px;
  margin-bottom: 25px;
}

.box{
  text-align: center;
    height: 100px;
    font-size:75px;
}

.MID-MID{
  border: 1px solid black;
}

.TOP-MID{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.BUTTOM-MID{
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.MID-LEFT{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.MID-RIGHT{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
